body {
    font-family: Outfit, sans-serif;
    font-size: 15px;
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.card {
    background-color: hsl(0, 0%, 100%); border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 17px;
    width: 275px;
    box-shadow: rgb(119, 119, 119) 0px 16px 33px -11px;
}
.qrcode {
    border-radius: 12px;
    margin-bottom: 24px;
    width: 100%;
}
.title {
    font-size: 23px;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    text-align: center;
    padding-bottom: 6px;
}
.description {
    color: hsl(220, 15%, 55%);
    text-align: center;
    padding-bottom: 8px;
}
h1 {
    line-height: 30px;
}
p {
    line-height: 19px;
}